/* FONT STACK */
body,input,select,textarea {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* BASE LAYOUT */
body {
	
}

#header {
	background: #e6e6e6;
	padding: 5px;
	box-shadow: 0 4px 4px -2px #232323;
	-moz-box-shadow: 0 4px 4px -2px #232323;
	-webkit-box-shadow: 0 4px 4px -2px #232323;
}

#logo {
	line-height: 2em;
	font-size: 2em;
	font-weight: bold;
	color: #38afeb;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)),
		color-stop(50%, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 1)));
}

.inset {
	text-shadow: #fff 0px 1px 0, #000 0 -1px 0;
}

#main-content {
	padding: 5px;
}