#timetrackerChart{
	height: 150px;
}
.chart {
	font-family: Arial, sans-serif;
	font-size: 10px;
}

.axis path,.axis line {
	fill: none;
	stroke: #D5D5D5;
	shape-rendering: crispEdges;
}

/**
* Brush
*/
.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #049CD9;
}